


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}





body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#D9DDE9;
}

.wrapper {
    width: 420px;
    background: purple;
    color: #fff;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100px;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 200%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

/* ... Other styles ... */

.input-box input::placeholder {
    color: #fff;
}

/* ... Other styles ... */


.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

